<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalonia" version="0.5.2-build3873-alpha" targetFramework="net461" />
  <package id="Avalonia.Cairo" version="0.5.2-build3873-alpha" targetFramework="net461" />
  <package id="Avalonia.Desktop" version="0.5.2-build3873-alpha" targetFramework="net461" />
  <package id="Avalonia.Direct2D1" version="0.5.2-build3873-alpha" targetFramework="net461" />
  <package id="Avalonia.Gtk" version="0.5.2-build3873-alpha" targetFramework="net461" />
  <package id="Avalonia.Gtk3" version="0.5.2-build3873-alpha" targetFramework="net461" />
  <package id="Avalonia.MonoMac" version="0.5.2-build3873-alpha" targetFramework="net461" />
  <package id="Avalonia.Skia" version="0.5.2-build3873-alpha" targetFramework="net461" />
  <package id="Avalonia.Skia.Desktop" version="0.5.2-build3633-alpha" targetFramework="net46" />
  <package id="Avalonia.Skia.Linux.Natives" version="1.57.1.4" targetFramework="net45" />
  <package id="Avalonia.Win32" version="0.5.2-build3873-alpha" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net45" />
  <package id="MonoMac.NetStandard" version="0.0.3" targetFramework="net461" />
  <package id="Serilog" version="2.4.0" targetFramework="net45" />
  <package id="SharpDX" version="4.0.1" targetFramework="net46" />
  <package id="SharpDX.Direct2D1" version="4.0.1" targetFramework="net46" />
  <package id="SharpDX.Direct3D11" version="4.0.1" targetFramework="net46" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net46" />
  <package id="SkiaSharp" version="1.57.1" targetFramework="net45" />
  <package id="Splat" version="2.0.0" targetFramework="net45" />
  <package id="Sprache" version="2.1.0" targetFramework="net45" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.UnmanagedMemoryStream" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net45" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net46" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net46" />
</packages>